header.infobar {

    z-index: 99;
    background-color: white;
    box-shadow: 0 0 10px -5px grey;

    padding: 10px;
    width: 100%;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;

    justify-content: flex-start;
    align-content: center;
    align-items: center;
}