main#chats {
    
    flex-grow: 1;
    position: relative;

    overflow-x: hidden;
    overflow-y: scroll;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;

    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;

    .btn-add {
        
        position: sticky;
        bottom: 10px;
        
        margin-right: 10px;
        margin-left: auto;
        margin-top: auto;

        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;

        justify-content: center;
        align-content: center;
        align-items: center;
    }
}